{%extends 'base.html'%}

{% block style %}<link rel="stylesheet" href="/static/css/styles.css">{% endblock %}

{% block header %} UberMelon {% endblock %}

{% block content %}
	<div>
	<h1>UberMelon is looking for a few new <i>Melons</i>!</h1>
	
	<h3>Have you been looking for a place where you can be a standout <b>melon</b>?  Then look no further!! We have a number of open recs for special melons. Click next to start your adventure with UberMelon.
	</h3>


	<a href="/application-form" id="button1">Make me an UberMelon</a>
	</div>
{% endblock %}